
@{
    ViewBag.Title = "relation";
}




<style>
    h1 {
        color: gainsboro;
    }

    h3 {
        color: red;
    }

    .main a {
        font-size: 2rem;
        text-decoration: none;
        color: #ffffff;
        background-color: burlywood;
        border-radius: 15px;
        padding: 10px;
    }
</style>
<div class="container my-5">

    <h2>經銷商管理與維護</h2>
    <div class="row justify-content-center align-content-center text-center">
        <div class="main col-10 col-md-4 mt-5">
            <a href="/CManager/supplier/" class="px-3 w-75"><i class="bi bi-boxes p-2"></i> 供 應 商 維 護</a>
        </div>

        <div class="main col-10 col-md-4 mt-5">
            <a href="/CManager/customer/" class="px-3 w-75"><i class="bi bi-people-fill p-2"></i> 經 銷 商 管 理!</a>
        </div>

    </div>

</div>



@*@Html.ActionLink("供應商紀錄與維護", "supplier")
    @Html.ActionLink("經銷商管理", "customer")*@
