
@{
    ViewBag.Title = "relation";
}




<style>
    body {
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        width:100%
    }

    .main a {
        font-size: 2rem;
        text-decoration: none;
        color: #ffffff;
        background-color: burlywood;
        border-radius: 15px;
        padding: 10px;
    }
</style>


<div class="container-fluid vh-100">
    <div class="row justify-content-center align-content-center text-center vh-100">

        <h2 class="my-5">隱形眼鏡B2B交易系統平台</h2>

        <div class="main col-10 col-md-4 ">
            <a href="/CManager/supplier/" class="px-3 w-75"><i class="bi bi-boxes p-2"></i> 供 應 商 維 護</a>
        </div>

        <div class="main col-10 col-md-4 ">
            <a href="/CManager/customer/" class="px-3 w-75"><i class="bi bi-people-fill p-2"></i> 經 銷 商 管 理!</a>
        </div>

    </div>

</div>



@*@Html.ActionLink("供應商紀錄與維護", "supplier")
    @Html.ActionLink("經銷商管理", "customer")*@
