
@{
    ViewBag.Title = "隱形眼鏡B2B交易系統平台";
    Layout = "~/Views/Shared/_Layoutsale.cshtml";
}



@section styles{

    <style>
    </style>
}

<div class="container-fluid mt-3 p-5 vh-100">
    <h2 class="row justify-content-center">常見問題</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    該如何成為會員
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    請提供營利事業登記證與藥証、負責人資訊，依正常程序註冊經審核通過後，即能享有超划算的進貨流程。
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    付款方式
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">官網下單一律採貨到付款之方式，請依預訂單上金額於取貨時付款給該眼鏡門市，相關發票或收據請向該門市索取。</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    訂單與商品配送
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">本網站僅提供配送到特約眼鏡門市之服務。請於預訂時選擇您預計取貨的眼鏡門市，並在收到『貨到通知簡訊或郵件』後，前往原指定門市領取預訂之商品，現場經由專業驗光人員確認驗光資料正確後請現場拆封檢查取貨付款。發票或收據由取件門市開立。</div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>

    </script>

}
