* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(231, 169, 169);
    /* background-color: rgb(255, 148, 148); */
}

nav {
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    text-align: center;
    font-family: "微軟正黑體";
    letter-spacing: 2pt;
}

    nav > .logo {
        flex: none;
        padding: 10px;
        width: 100px;
        background: #000;
        color: aliceblue;
        border: 1px solid seashell;
    }

    nav > .menu {
        flex: auto;
        width: 100%;
        padding: 10px;
        background: #000;
        color: aliceblue;
    }

    nav > .user {
        flex: none;
        padding: 10px;
        width: 100%;
        background: #000;
        color: aliceblue;
    }

main {
    /* background-color: rgb(255, 148, 148); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; /* 圖片中 */
    text-align: center;
    width: 100%;
    margin-top: 20px; /*圖片區上面padding*/
    margin-bottom: 100px; /*圖片區下面padding*/
}

.item {
    padding: 20px;
    width: 250px;
}

img:hover {
    transform: scale(1.1);
}

.hide {
    display: none;
}

.block {
    position: flex;
    top: 20px;
    left: 150px;
}

nav ul li {
    padding: 10px;
    list-style-type: none;
    background-color: brown;
    color: #fff;
    opacity: 0.5;
}

    nav ul li a:link {
        text-decoration: none;
        color: #ffffff;
    }

    nav ul li a:link {
        text-decoration: none;
        color: #ffffff;
    }
