@*@model contact.Models.t產品*@
@model IEnumerable<contact.Models.t產品>


@section styles{
    <style>



        /*靠文字去稱圖片框大小*/
        .mytext {
            /* width:300px;*/
            height: 300px;
            background-color: rgb(248 195 195 / 0.2);
            /* background-color: rgba(0,0,0,.2);*/
            backdrop-filter: blur(10px);
            border-radius: 5px;
            position: relative;
            top: 100px;
            left: 5px;
            z-index: 1;
        }
    </style>


}



@section scripts

{
    <script>

    var picArray = [];
    @foreach (var item in Model)
    {
        @:picArray.push("@item.f產品圖片路徑");
    }

    /*console.log(picArray);*/


    //var showPic = document.getElementById('showPic');
    //for (var i = 0; i < picArray.length; i++) {



    //}
    </script>

}




<img src="~/images/@Model.FirstOrDefault().f產品圖片路徑 " width="250" height="250" style="object-fit:cover" id="bigPic">


<ul class="d-flex mt-3" >

    @foreach (var item in Model)
    {
        if (item.f產品圖片路徑 != "no-picture.jpg")
        {

            <li class="smallPic ms-3">
                <img src="~/images/@item.f產品圖片路徑 " style="width: 50px; height: 50px;" >
                @*<a href="/Shopping/Cart/@item.f產品ID" class="tomatocartbtn"><i class="bi bi-basket2-fill"></i></a>*@

            </li>
        }

    }

</ul>
